@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$white: #f2e9ec;
$black: #0d0d0d;
$brown: #593a2e;
$beige-light: #d9aa8f;
$beige-dark: #8c6354;
$green: #0a2626;
$blue-dark: #0e1826;
$blue-light: #4d628c;
$gray: #777e8c;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $green;
$grey-light: $beige-dark;
$primary: $gray;
$link: $beige-dark;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$menu-item-color: $white;
$menu-item-hover-color: $blue-dark;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

// Custom Classes

.App {
  padding-top: 5px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: $blue-light;
}
.font-main {
  color: $white;
}
.font-color-secondary {
  color: $blue-dark;
}
.switch-wrapper {
  background-color: $gray;
  width: 90vw;
}
.content {
  line-height: 1.5em;
}
.menu {
  background-color: $blue-dark;
  min-width: 10vw;
  font-weight: bold;
}
.title {
  color: $white;
  text-align: center;
}
.hero {
  background-color: $blue-dark;
  margin-bottom: 1em;
}
