@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$white: #f2e9ec;
$black: #0d0d0d;
$brown: #593a2e;
$beige-light: #d9aa8f;
$beige-dark: #8c6354;
$green: #168c40;
$blue-dark: #0e1826;
$blue-light: #4d628c;
$gray: #777e8c;
$light-gray: #c1d0d9;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $white;
$grey-light: $gray;
$primary: $gray;
$link: $white;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$section-padding: 1.5rem 1.5rem;
$tabs-link-active-color: $blue-light;
$menu-item-color: $white;
$menu-item-hover-color: $blue-dark;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

// Custom Classes

.App {
  padding-top: 5px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $blue-dark;
}
p {
  padding: 0.5em;
}
.menu {
  min-height: 6vh;
  max-height: 6vh;
} //hack to fix "beginnings collapse"
body::-webkit-scrollbar {
  display: none;
}
.font-main {
  color: $white !important;
}
.font-color-secondary {
  color: $beige-dark !important;
}
.switch-wrapper {
  background-color: $blue-dark;
  min-width: 90vw;
}
.tabs:not(:last-child) {
  margin-bottom: 0.5em;
}
.title {
  color: $white;
  text-align: center;
}
.hero {
  border-radius: 4px;
}
.content {
  padding: 1em;
  border: 2px dashed $gray;
}
.intro-img {
  margin: auto;
}
.is-on-top {
  z-index: 1000;
}
.relative {
  position: relative;
}
.banner {
  max-height: 1.5em !important;
  padding: 5px;
}

.buttons {
  background-color: $blue-dark;
  margin: 0 auto !important;
  padding: 1em 0;
}
.watertower {
  max-height: 200px;
  max-width: 150px;
  float: left;
  margin-right: 1em;
  margin-top: 3em;
  margin-left: -1.5em;
}
.senior-pic {
  max-height: 600px;
  max-width: 400px;
  margin-right: 1em !important;
}
.crest {
  float: left;
  margin-top: 3em;
  margin-right: 1em;
  margin-left: -1.5em;
  max-height: 150px;
  max-width: 100px;
  padding: 1em;
  background-color: #fff;
}
.soccer-pic {
  float: right;
  margin-top: 3em;
  margin-bottom: 1em;
  margin-right: -1.5em;
  margin-left: 1em;
  max-height: 250px;
  max-width: 100px;
}
.ATO {
  float: left;
  margin-top: 1em;
  margin-bottom: 1em !important;
  margin-right: 1em;
  margin-left: 1em !important;
}
.bell-tower {
  max-height: 600px;
  max-width: 800px;
  margin: 1em auto !important;
}
.grad {
  margin-right: 1em;
  margin-top: -1em;
}
.sbts {
  max-width: 300px;
  float: left;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.bulma {
  max-width: 200px;
  border-radius: 75px;
  margin-bottom: 2em;
}
.social-logo {
  max-height: 150px;
  min-height: 150px;
  max-width: 200px;
  border-radius: 30px;
  margin: auto 1em;
  background-color: #fff;
}
//About Me logo Craziness
.logos {
  background-color: $black;
  min-width: 88vw;
  min-height: 75vh;
}
.logo {
  max-height: 150px;
  max-width: 150px;
  margin: 0.5em;
  border-radius: 50%;
}
.logo-right {
  margin-left: 400px;
}
.bounce-top {
  animation-name: logo-bounce-top;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.bounce-top-reverse {
  animation-name: logo-bounce-top-reverse;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.bounce-middle {
  animation-name: logo-bounce-middle;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
.bounce-middle-reverse {
  animation-name: logo-bounce-middle-reverse;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
.bounce-bottom {
  animation-name: logo-bounce-bottom;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 3.5s;
}
.bounce-bottom-reverse {
  animation-name: logo-bounce-bottom-reverse;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 3.5s;
}
.margin-fix {
  margin: 1em auto !important;
}
.underline {
  border-bottom: 2px solid $green;
}

@keyframes logo-bounce-top {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(65vw, 25vh);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes logo-bounce-top-reverse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-65vw, 25vh);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes logo-bounce-middle {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(65vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes logo-bounce-middle-reverse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-65vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes logo-bounce-bottom {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(65vw, -25vh);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes logo-bounce-bottom-reverse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-65vw, -25vh);
  }
  100% {
    transform: translate(0, 0);
  }
}
