@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$white: #f2e9ec;
$black: #0d0d0d;
$beige-light: #d9aa8f;
$beige-dark: #8c6354;
$green: #0a2626;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $black;
$grey-light: $beige-dark;
$primary: $green;
$link: $beige-dark;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-item-color: $white;
$navbar-item-hover-color: $link;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

// Custom Classes

.App {
  margin-top: 10px;
  width: 98vw;
  height: 98vh;
  display: flex;
  flex-direction: row;
}
.font-color-secondary {
  color: $green;
}
.switch-wrapper {
  background-color: $beige-light;
  width: 87vw;
}
.content {
  line-height: 1.5em;
}
.menu {
  background-color: $green;
}
.title {
  color: $white;
  text-align: center;
}
